body {
	background-color: #24272E;
}

header {
	padding: 10px;
	background: white;
	color: #24272E;
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
}

p {
	font-size: 1.5rem;
	color: white;
	text-align: center;
}

button {
	background: #E25840;
	color: white;
	border: none;
	display: block;
	padding: 5px 10px;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 2px;
	cursor: pointer;
	margin: 20px auto;
}